/* css-reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
select,
button {
  font: inherit;
}


:root {
  --background: #070811;

  --dark: #000;
  --light: #fff;

  --button-1: blue;
  --button-2: #ff0073;
}

html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@font-face {
  font-family: AGENTRED;
  src: url("../fonts/AGENTRED.woff2");
}

body {
  text-align: center;
  color: var(--light);
  display: grid;
  background-color: var(--background);
  grid-template-rows: auto 1fr auto;
}

main {
  width: 100%;
  display: grid;
  place-items: center;
}

.container {
  width: clamp(200px, 75vw, 43.75rem);
  display: grid;
  gap: 0.8rem;
}

h1 {
  margin-top: 2rem;
  font-family: AGENTRED;
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

input,
select {
  background: var(--light);
  color: var(--dark);
  padding: 0.8rem 1.2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--dark);
  display: block;
}

input::placeholder {
  color: var(--dark);
  opacity: 0.5;
  font-size: small;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#copyToClipboard,
#clearInput {
  width: max-content;
  color: var(--light);
  padding: 0.6rem 1.6rem;
  border-radius: 0.5rem;
  border: 1px solid var(--dark);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
}

#copyToClipboard {
  background: var(--button-1);
}

#clearInput {
  background: var(--button-2);
}

footer {
  margin-bottom: 0.5rem;
  font-size: small;
}

a {
  color: coral;
  text-decoration: none;
}
